<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Catalog App</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <header>
        <div class="title center">
            <h1>Catalog App</h1>
            <div class="signin">
                <h2>{{user_name}}</h2>
                <a href="{{url_for('gdisconnect')}}">Logout</a>
            </div>
        </div>
    </header>
    <section class="center">
        <div class="description">
            <h2>{{item.name}}</h2>
            <p>Description: {{item.description}}</p>
        </div>
        <ul class="ed">
            <li>
                <a href="{{url_for('edit_item', item_name=item.name)}}">Edit</a>
            </li>
            <li>
                <span>|</span>
            </li>
            <li>
                <a href="{{url_for('delete_item', item_name=item.name)}}">Delete</a>
            </li>
        </ul>
    </section>
</body>

</html>