<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Catalog App</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <header>
        <div class="title center">
            <h1>Catalog App</h1>
            <div class="signin">
                <h2>{{user_name}}</h2>
                <a href="{{url_for('google.gdisconnect')}}">Logout</a>
            </div>
        </div>
    </header>
    <section class="center">
        <div class="categories">
            <h2>Categories</h2>
            <ul>
                {% for category in categories %}
                <li><a href="{{url_for('items.show_items',category_name = category.name)}}">{{category.name}}</a></li>
                {% endfor %}
            </ul>
        </div>
        <div class="items">
            <h2>{{category_name}} ({{num_items}} items)</h2>
            <ul>
                {% for item in items %}
                <li><a href="{{url_for('description.show_description',category_name = item.category_id, item_name=item.name)}}">{{item.name}}</a></li>
                {% endfor %}
            </ul>
        </div>
    </section>
</body>

</html>